.container{
    text-align: center;
    margin-top: 25px;
}

table{
    margin: auto;
}

input{
    margin-top: 2px;
    font-size: 34px;
    border: 5px solid black;
    border-radius: 15px;
}

button{
    padding: 5px;
    background: grey;
    font-size: 40px;
    height: 58px;
    width: 102px;
    border-radius: 15px;
}

.claculator{
    border: 3px solid black;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
    background: black;
}